extends layout

block content
  if user
    h2.welcome 👋 Welcome  #{user.fullname}
    h2(style="text-align: center; font-size: 28px") Posts
    div(class="posts")
      hr(style="width:100%;")
      if posts
        each post in posts
          div(class="post")
            if user.admin && user.admin === true
              a(href=post.url style="position: absolute; right: 10px;") X
            h2= post.title
            if user.status === "active"
              p.username @#{post.username.username}
              p
                time= post.timestamp
            else
              p #[strong @Club Member]
            p(class="message")= post.text
  else
    form(action="/log-in" method="POST")
      h2.form-title(style="align-self: center") Log in
      div(class="form-group")
        input(type="text" id="username" name="username" class="form-control" required)
        label.form-label(for="username") Username:
      div(class="form-group")
        input(autoomplete="false" class="form-control" type="password" name="password" id="password" required)
        label.form-label(for="password") Password:
      button.btn-submit Log in
    p you dont have a account?
    a(href="/sign-up") Sign up

