extends layout

block content
  form(method="POST")
    h1.form-title= title
    div.form-group
      input(value=user===undefined ? "" : user.name
      type="text"
      name="name"
      id="name"
      required
      class="form-control")
      label.form-label(for="name") Name:
    div.form-group
      input(value=user===undefined ? "" : user.last_name
      type="text"
      class="form-control"
      id="last_name"
      name="last_name"
      required)
      label.form-label(for="last_name") Last Name:
    div.form-group
      input(value=user===undefined ? "" : user.username
      type="text"
      class="form-control"
      id="username"
      name="username"
      required)
      label.form-label(for="username") Username:
    div.form-group
      input(value=user===undefined ? "" : user.password
      type="password"
      class="form-control"
      name="password"
      id="password"
      required)
      label.form-label(for="password") Password:
    div.form-group
      input(value=user===undefined ? "" : user.confirm_password
      type="password"
      class="form-control"
      name="confirm_password"
      id="confirm_password"
      required)
      label.form-label(for="confirm_password") Confirm Password:
    if errors
      ul
        each err in errors
          li.errorMsg= err.msg
    button.btn-submit Sign up



